<div class="col-md-12">
  <div class="movie">

    <% if current_user %>
    <span class="pull-right">
      <% if current_user && current_user.has_collected?(@movie) %>
        <label class="label label-success"> 已经收藏 </label>
        <%= link_to("Unfavorite", unfavorite_movie_path(@movie), method: :post, class: "btn btn-default") %>
      <% else %>
        <label class="label label-warning"> 未收藏 </label>
        <%= link_to("Favorite", favorite_movie_path(@movie), method: :post, class: "btn btn-default") %>
      <% end %>
    </span>

    <%= link_to("Write a Review", new_movie_review_path(@movie), class: "btn btn-default pull-right") %>
    <% end %>


    <% if current_user && current_user == @movie.user %>
      <%= link_to("Edit", edit_movie_path(@movie), class: "btn btn-primary pull-right") %>
    <% end %>
  </div>
  <h2><%= @movie.title %></h2>
  <p><%= simple_format(@movie.description)%></p>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>评论内容</th>
        <th>评论者</th>
        <th>发表时间<th>
      </tr>
    </thead>
    <tbody>

      <%= render :partial => "review_item", :collection => @reviews, :as => :review %>
    </tbody>
  </table>

  <div class="text-center">
    <%= will_paginate @reviews %>
  </div>
</div>
